body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.game-container {
    position: relative;
    width: 700px;
    height: 450px;
    border: 2px solid #000000;
}

.dark-mode body, 
.dark-mode html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dark-mode {
    background-color: #000;
    color: #fff;
}
.dark-mode .game-container {
    position: relative;
    width: 700px;
    height: 450px;
    border: 2px solid #f0f0f0;
}

.dark-mode-toggle {
    position: fixed;
    top: 45px;
    right: 0%;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1000;
    color: #ffffff;
}

.fa-sun.dark-mode-toggle {
    font-size: 25px;
    color: rgb(255, 252, 252);
}

.fa-moon.dark-mode-toggle {
    font-size: 25px;
    color: #000000;
}


.snake, .food {
    position: absolute;
    width: 20px;
    height: 20px;
}

.snake {
    background-color: #00f;
}

.food {
    background-color: #f00;
}

footer{
    clear: both;
    border-top: 1px solid #c7c6c6; 
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
  }
  
  .dark-mode .footer {
    background-color: #000000;
    color: rgb(0, 0, 0);
    border-top-color: #000000;
}



  footer p, a{
    margin-top: auto;
    margin-left: 0.2em;
    color: var(--white);
    align-items: center;
    text-decoration: none;
  }
  #startGame {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3%;
    height: 3%;
}

#startGame.clicked {
    display: none;
}

 