body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.game-container {
    position: relative;
    width: 800px;
    height: 480px;
    border: 2px solid #000000;
    box-shadow: 15px 15px 15px rgba(85, 83, 83, 0.3);
}

.dark-mode body, 
.dark-mode html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dark-mode {
    background-color: #000;
    color: #fff;
}
.dark-mode .game-container {
    position: relative;
    width: 800px;
    height: 480px;
    border: 2px solid #f0f0f0;
    box-shadow: 15px 15px 15px rgba(230, 219, 219, 0.3);
}

.dark-mode-toggle {
    position: fixed;
    top: 45px;
    right: 0%;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1000;
    color: #ffffff;
}

.fa-sun.dark-mode-toggle {
    font-size: 25px;
    color: rgb(255, 252, 252);
}

.fa-moon.dark-mode-toggle {
    font-size: 25px;
    color: #000000;
}


.snake, .food {
    position: absolute;
    width: 20px;
    height: 20px;
}

.snake {
    background-color: #00f;
}

.food {
    background-color: #f00;
}

  footer{
    clear: both;
    border-top: 1px solid #000000; 
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
}

.dark-mode .footer{
    clear: both;
    border-top: 1px solid #d11717; 
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
}

.light-mode footer {
    color: #000;
    border-top-color: #000;
}

.dark-mode footer {
    color: #ffffff;
    border-top-color: #fff;
}

footer p, a{
    margin-top: auto;
    margin-left: 0.2em;
    color: var(--white);
    align-items: center;
    text-decoration: none;
  }

#startGame {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3%;
    height: 3%;
}

#startGame.clicked {
    display: none;
}

#score {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}